$clock: (
  'container': '.clock',
  'size': 300,

);

#{map-get($clock, 'container')} {

  position: relative;
  width: #{map-get($clock, 'size')}px;
  height: #{map-get($clock, 'size')}px;
  border: 1px solid grey;
  border-radius: 100%;

  &-point {

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    transform: rotateZ(180deg);

    &-decor {

      position: absolute;
      width: 20px;
      height: 20px;
      background-color: grey;
      border-radius: 100%;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 1;

    }

  }

  &-handHandler {

    position: absolute;
    transform: translate3d(-50%, 0, 0);
    left: 50%;

  }

  &-hand {

    position: relative;
    transform-origin: center top;

    &--hour {

      width: 10px;
      height: #{map-get($clock, 'size')/3.5}px;
      background-color: rgba(black, 0.2);

    }

    &--minute {

      width: 8px;
      height: #{map-get($clock, 'size')/2.3}px;
      background-color: rgba(black, 0.2);
      transform: rotateZ(180deg);

    }

    &--second {

      width: 4px;
      height: #{map-get($clock, 'size')/2.1}px;
      background-color: rgba(black, 0.2);

    }

  }

}