html, body, #root {

  height: 100%;

}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrap {

  &,
  &-container,
  &-row {

    min-height: 100vh;

  }

  &-menu,
  &-page {

    padding-top: 50px;
    padding-bottom: 50px;

  }

  &-menu {

    background-color: rgba(grey, 0.2);

  }

  &-page {

    display: flex;
    justify-content: center;

  }

}

.page {

  margin: 0 auto;

}


#app-root {

  position: relative;
  width: 100%;

  .modalActive & {

    position: fixed;
    filter: blur(2px);

  }

}

#modal-root {

  position: fixed;
  width: 100%;
  height: 100%;

  .modalActive & {

    position: relative;

  }

}